
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #fff;
    line-height: 1.6;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    color: #fff;
}

.navbar {
    border-bottom: 1px solid #333;
}

.navbar .navbar-brand img {
    width: 55px;
    transition: width 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
    color: #bb86fc;
    background-color: rgba(155, 89, 182, 0.1);
    border-radius: 5px;
}

.navbar-collapse {
    font-size: 14px;
}

footer {
    background-color: #1c1c1c;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    border-top: 1px solid #333;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #bb86fc;
}


main {
    padding: 20px;
}


.card {
    background-color: #1c1c1c;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.card-header {
    background-color: #343a40;
    padding: 20px;
    text-align: center;
}

.card-header h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    color: #fff;
}

.card-body {
    padding: 20px;
    color: #fff;
}

.post-image {
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-footer {
    background-color: #1c1c1c;
    padding: 20px;
    border-top: 1px solid #333;
    text-align: center;
}

.post-rating {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 10px;
}

.post-actions a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}
.comment-actions a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 10px;
    transition: color 0.3s ease;
}
.post-author{
    color: #6a1b9a;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.comment-author {
    color: #6a1b9a;
    text-align: left;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.post-actions a:hover {
    color: #bb86fc;
}
.comment-actions a:hover{
    color: #bb86fc;
}

/* Buttons */
.btn-secondary {
    background-color: transparent;
    color: #fff;
    border: 1px solid #9b59b6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-secondary:hover {
    background-color: #9b59b6;
    color: #fff;
}
.star-icon {
    color: #800080;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 10px;
    transition: color 0.3s ease;
}

.star-icon.filled {
    color: #FFD700;
}


@media (max-width: 767px) {
    .navbar .navbar-brand img {
        width: 40px;
        transition: width 0.3s ease;
    }
    .card-header h1 {
        font-size: 1.5rem;
    }

    .post-text {
        font-size: 1rem;
    }

    .post-actions a {
        font-size: 1.2rem;
    }
}

