.form {
    margin-top: 20px;
}

.custom-toggle {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px;
}
.original-file {
    background-color: #222;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9rem;
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 15px;
}

.file-name {
    display: inline-block;
    color: #9b59b6;
    word-break: break-all;
}

.toggle-option {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #222;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
}

.toggle-option input[type="radio"] {
    display: none;
}

.toggle-option input[type="radio"]:checked + span {
    font-weight: bold;
    color: #9b59b6;
    background-color: #333;
}

/* Hover Effect */
.toggle-option:hover {
    background-color: #444;
}


#fileUploadContainer,
#urlInputContainer {
    display: none;
}

#fileUploadContainer.active,
#urlInputContainer.active {
    display: block;
}

.form-control {
    background-color: #222;
    color: #fff;
    border: 1px solid #444;
}

.form-control::placeholder {
    color: #aaa;
}


.custom-btn {
    margin-top: 1em;
    color: #9b59b6;
    background-color: white;
    border: 2px solid #9b59b6;
    font-weight: bold;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    color: white;
    background-color: #9b59b6;
    border-color: #9b59b6;
}

@media (max-width: 768px) {
    .custom-toggle {
        flex-direction: column;
    }

    .toggle-option {
        font-size: 1rem;
        padding: 12px;
    }
}